.facts {
    background: $black;
    font-family: $OpenSans-Regular;
    padding: 60px 0;


    .title-heading {
        position: relative;

        .left {
            position: absolute;
            left: 37%;
            transform: translateY(40%);

            @media screen and (max-width: 992px) {
                left: 30%;
            }

            @media screen and (max-width: 767px) {
                left: 10%;
            }
        }

        .right {
            position: absolute;
            right: 37%;
            transform: translateY(-26px);

            @media screen and (max-width:992px) {
                right: 29%;
            }

            @media screen and (max-width: 767px) {
                right: 8%;
            }
        }
    }

    h2 {
        color: $white;
    }

    p {
        color: $greyblack;
        text-align: center;
        padding-bottom: 30px;
    }

    .numbers {
        text-align: center;

        span {
            color: $white;
            font-size: $number-fontsize;
            font-style: italic;
        }


        h3 {
            color: $greyblack;

            span {
                font-size: $xs-fontsize;
                color: $greyblack;

            }
        }

        .image:before {
            content: "";
            background: $greyblack;
            width: 100px;
            height: 1px;
            position: absolute;
            left: 15px;
            transform: translateY(14px);

            @media screen and (max-width: 767px) {
                left: 80px;
            }

        }

        .image:after {
            content: "";
            background: $greyblack;
            width: 100px;
            height: 1px;
            position: absolute;
            right: 15px;
            transform: translateY(14px);

            @media screen and (max-width: 767px) {
                right: 80px;
            }
        }
    }


}